* {
  margin: 0;
  padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}
.main{
    position: relative;
    width: 100%;
    min-height: 35rem;
}
.hero-section{
    position: relative;
    width: 100%;
    min-height: 35rem;
    color: rgb(142, 21, 8);
    background-color: rgb(39, 37, 37);
}
.hero-section .info{
    position: absolute;
    left: 5%;
    text-align: left;
    transform: translateY(50%);
}
.hero-section h1{  
    font-size: clamp(4rem, 7vw, 6rem);
    font-family: 'Abril Fatface', serif;
    text-shadow: 2px 2px 4px #a59f9f;
}
.stars{
    padding-top: 2rem;
    color: rgb(223, 165, 16);
    font-size: clamp(1rem, 4vw, 3rem);
    text-shadow: 2px 2px 4px #a59f9f;
}
.info img{
    padding-top: 2rem;
    width: 15%;
    opacity: 70%;
}
.img img{
    float: right;
    width: 30%;
}
.google{
    transform: translateY(0.5rem);
}
.hero-section img:hover{
    opacity: 100%;
    transform: translateY(-0.5rem);
}

.about-section{
    padding: 2rem;
    position: relative;
    top: 3rem;
    padding-right:3rem;
    padding-left:3rem;
}
.about-section h2{
    color: rgb(142, 21, 8);
    font-style: normal;
}

.about-section p{
    color: rgb(39, 37, 37);
    padding-top: 1rem;
    font-size: clamp(1rem, 1.5vw, 1rem);
    line-height: 1.5;
    font-weight: lighter;
}

.leaderboard{
    position: relative;
    padding: 1.5rem;
    padding-right:3rem;
    padding-left:3rem;
    min-height: 35rem;
}
.leaderboard h1{
    font-size: clamp(3.5rem, 6vw, 5.5rem);
    font-family: 'Abril Fatface', serif;
    text-shadow: 2px 2px 4px #7c7676;
    padding-top: 3rem;
    color:  rgb(142, 21, 8);
}
.leaderboard a{
    position: absolute;
    text-decoration: none;
<<<<<<< HEAD
    background-color: rgb(142, 21, 8);
    color: white;
    margin-top: 0.5rem;
    padding: 0.5rem;
}
.leaderboard a:hover{
    opacity: 70%;
    transform: translateY(-0.25rem);
=======
    font-size: clamp(1rem, 1.5vw, 1rem);
    background-color: darkred;
    color: #a59f9f;
    padding: 0.5rem;
    margin-top: 1rem;
}
.leaderboard a:hover{
    transform: translateY(-20%);
>>>>>>> cd-scores-page
}

.footer{
    position: relative;
    width: 100%;
    bottom: 0px;
    text-align: center;
    padding-top: 8rem;
}
.footer p{
    border-top: 0.025rem solid rgb(39, 37, 37);
}

.footer *{
    color: rgb(39, 37, 37);
    padding: 0.25rem;
    font-size: 20px;
}
.footer i{
    font-size: 30px;
}
.footer i:hover{
    opacity: 70% ;
}

.main form{
    padding-left: 10rem;
    padding-top: 10rem;
}
.main input{
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);    
    padding: 1.5rem;
    margin: 0.75rem 0;
}
.main button{
border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);    
    padding: 1.5rem;
    margin: 0.75rem 0;
}