* {
  margin: 0;
  padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}
.main{
    position: relative;
}
.hero-section{
    position: relative;
    width: 100%;
    min-height: 35rem;
    color: rgb(105, 13, 3);
    background-color: rgb(74, 68, 68);
}
.hero-section .info{
    position: absolute;
    left: 5%;
    text-align: left;
    transform: translateY(50%);
}
.hero-section h1{  
    font-size: clamp(4rem, 7vw, 6rem);
    font-family: 'Abril Fatface', serif;
    text-shadow: 2px 2px 4px #7c7676;
}
.stars{
    padding-top: 2rem;
    color: rgb(223, 165, 16);
    font-size: clamp(1rem, 4vw, 3rem);
}
.info img{
    padding-top: 2rem;
    width: 15%;
    opacity: 70%;
}
.img img{
    float: right;
    width: 30%;
}
.google{
    transform: translateY(0.5rem);
}
.hero-section img:hover{
    opacity: 100%;
    transform: translateY(-0.5rem);
}

.about-section{
    padding: 1.5rem;
    position: relative;
    top: 3rem;
}
.about-section h2{
    color: #3f3b3b;
    font-style: normal;
}

.about-section p{
    padding-top: 1rem;
    color: black;
    font-size: clamp(1rem, 1.5vw, 1rem);
    text-align: justify;
    line-height: 1.5;
}

.leaderboard{
    position: relative;
    padding: 1.5rem;
}
.leaderboard h1{
    font-size: clamp(3.5rem, 6vw, 5.5rem);
    font-family: 'Abril Fatface', serif;
    text-shadow: 2px 2px 4px #7c7676;
    padding-top: 5rem;
}

.footer{
    position: relative;
    width: 100%;
    bottom: 0px;
    text-align: center;
    background-color: blue;
}


.footer *{
    color: beige;
    padding: 0.25rem;
    font-size: 20px;
}
.footer i{
    font-size: 30px;
}
.footer i:hover{
    opacity: 70% ;
}

